/* 
----------------------
Reset 
----------------------
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
----------------------
Common
----------------------
*/

/* 
----------------------
Debug
----------------------
*/
/* Header */
.debug header {
  background-color: #0084fd;
}

.debug nav {
  width: 70%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.debug nav .logo,
.debug .navigation,
.debug .hamburger {
  background-color: white;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.debug .hamburger {
  display: none;
}

.debug .navigation {
  width: 300px;
}
/* Main */
.debug .container-griglia {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.debug .box {
  background-color: #b5ddff;
  width: calc((100% - 40px) / 3);
  height: 200px;
}

.debug .box-big {
  width: calc((100% - 10px) / 3 * 2);
  height: 200px;
  background-color: #b5ddff;
}

.debug .planning {
  background-color: #9792e4;
}

.container-plan {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  gap: 40px;
  padding: 50px 0;
}

.debug .plan-info {
  background-color: #bcb5ee;
  height: 200px;
  width: calc((100% - 40px) / 2);
}

.debug .plan-foto {
  background-color: #bcb5ee;
  height: 150px;
  width: calc((100% - 40px) / 2);
  align-self: flex-end;
}

.debug .container-testimonials {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.debug .intro {
  background-color: #bcb5ee;
  height: 80px;
  width: 100%;
  text-align: center;
}

.debug .profilo {
  background-color: #9792e4;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.debug .testim-foto {
  height: 80px;
  width: 80px;
  background-color: #bcb5ee;
  border-radius: 50%;
}

.debug .testim-info {
  height: 80px;
  width: 500px;
  background-color: #bcb5ee;
}

.debug .benefits {
  background-color: #9792e4;
}

.debug .container-benefits {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

.debug .box-benef {
  background-color: white;
  width: calc((100% - 40px) / 3);
  height: 250px;
}

.debug .container-about {
  width: 70%;
  margin: 0 auto;
  margin-top: 3vh;
  display: flex;
  gap: 40px;
  padding-top: 50px;
}

.debug .about-info {
  background-color: #bcb5ee;
  height: 200px;
  width: calc((100% - 40px) / 2);
}

.debug .about-foto {
  background-color: #bcb5ee;
  height: 150px;
  width: calc((100% - 40px) / 2);
  align-self: flex-start;
}

.debug .iscriviti {
  background-color: #9792e4;
  margin-top: 6vh;
  height: 300px;
  text-align: center;
}

.debug footer {
  background-color: #333333;
  height: 300px;
  text-align: center;
  color: white;
}

/* 
----------------------
Header
----------------------
*/

/* 
----------------------
Main
----------------------
*/

/* 
----------------------
Footer
----------------------
*/

/* 
----------------------
Media Query
----------------------
*/
/* Da 0px a 768px */
@media screen and (max-width: 768px) {
  .debug nav {
    width: 90%;
  }

  .debug .navigation {
    display: none;
  }

  .debug .hamburger {
    display: block;
  }

  .debug .container-griglia {
    width: 90%;
  }

  .debug .container-plan {
    flex-wrap: wrap;
    width: 90%;
  }

  .debug .plan-info,
  .debug .plan-foto {
    width: 100%;
  }

  .debug .container-testimonials {
    width: 90%;
  }

  .debug .container-benefits {
    width: 90%;
  }

  .debug .box-benef {
    width: calc((100% - 20px) / 2);
  }
}
