/* 
----------------------
Reset 
----------------------
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
----------------------
Common
----------------------
*/

/* 
----------------------
Debug
----------------------
*/
/* Header */

.debug nav {
  height: 80px;
}

/* .debug nav .logo,
.debug .navigation,
.debug .hamburger {
  background-color: white;
  height: 50px;
  width: 50px;
  border: 1px solid black;
} */

/* .debug .navigation {
  width: 300px;
} */

/* Main */

.debug .box {
  height: 200px;
}

.debug .box-big {
  height: 200px;
}

.debug .plan-info {
  height: 200px;
}

.debug .plan-foto {
  height: 150px;
}

.debug .intro {
  height: 80px;
}

.debug .testim-foto {
  height: 80px;
}

.debug .testim-info {
  height: 80px;
}

.debug .box-benef {
  height: 250px;
}

.debug .about-info {
  height: 200px;
}

.debug .about-foto {
  height: 150px;
}

.debug .iscriviti {
  height: 300px;
}

.debug footer {
  height: 300px;
}

/* 
----------------------
Header
----------------------
*/

header {
  background-color: #0084fd;
}

nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

/* 
----------------------
Main
----------------------
*/

.container-griglia {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  background-color: #b5ddff;
  width: calc((100% - 40px) / 3);
}

.box-big {
  width: calc((100% - 10px) / 3 * 2);
  background-color: #b5ddff;
}

.planning {
  background-color: #9792e4;
}

.container-plan {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  gap: 40px;
  padding: 3.125rem 3.125rem;
}

.plan-info {
  background-color: #bcb5ee;
  width: calc((100% - 40px) / 2);
}

.plan-foto {
  background-color: #bcb5ee;
  width: calc((100% - 40px) / 2);
  align-self: flex-end;
}

.container-testimonials {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro {
  background-color: #bcb5ee;
  width: 100%;
  text-align: center;
}

.profilo {
  background-color: #9792e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
}

.testim-foto {
  width: 80px;
  background-color: #bcb5ee;
}

.testim-info {
  width: 100%;
  background-color: #bcb5ee;
}

.benefits {
  background-color: #9792e4;
}

.container-benefits {
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

.box-benef {
  background-color: white;
  width: calc((100% - 40px) / 3);
}

.container-about {
  width: 70%;
  margin: 0 auto;
  margin-top: 3vh;
  display: flex;
  gap: 40px;
  padding-top: 50px;
}

.about-info {
  background-color: #bcb5ee;
  width: calc((100% - 40px) / 2);
}

.about-foto {
  background-color: #bcb5ee;
  width: calc((100% - 40px) / 2);
  align-self: flex-start;
}

.iscriviti {
  background-color: #9792e4;
  margin-top: 6vh;
  text-align: center;
}

/* 
----------------------
Footer
----------------------
*/

footer {
  background-color: #333333;
  text-align: center;
  color: white;
}

/* 
----------------------
Media Query
----------------------
*/

.container-griglia {
  max-width: 1140px;
}
/* Da 0px a 768px */
@media screen and (max-width: 768px) {
  .debug nav {
    width: 90%;
  }

  .debug .navigation {
    display: none;
  }

  .debug .hamburger {
    display: block;
  }

  .debug .container-griglia {
    width: 90%;
  }

  .debug .container-plan {
    flex-wrap: wrap;
    width: 90%;
  }

  .debug .plan-info,
  .debug .plan-foto {
    width: 100%;
  }

  .debug .container-testimonials {
    width: 90%;
  }

  .debug .container-benefits {
    width: 90%;
  }

  .debug .box-benef {
    width: calc((100% - 20px) / 2);
  }

  .debug .container-about {
    width: 90%;
  }
}

/* Da 0px a 480px */
@media screen and (max-width: 576px) {
  .debug .box-big,
  .debug .box {
    width: 100%;
  }

  .debug .profilo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .debug .testim-foto {
    width: 200px;
    height: 200px;
  }

  .debug .testim-info {
    width: 100%;
    height: 200px;
  }

  .debug .box-benef {
    width: 100%;
  }

  .debug .container-about {
    flex-wrap: wrap;
  }

  .debug .about-info,
  .about .about-foto {
    width: 100%;
  }
}
